.container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 99999
}

.message {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 12px;
  margin: 8px 0;
  width: 300px;
  min-height: 50px;
  box-shadow: 1px 1px 4px #ccc;
  display: flex;
  align-items: center;
}