.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #0003;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80%;
  width: 90%;
  background-color: #fff;
  overflow-y: scroll;
  box-shadow: 0 0 4px 1px #555;
}

.header,
.content {
  display: flex;
  margin: 4px;
}

.header > span,
.content > input,
.content > select {
  flex: 3;
}

.header > span:first-child,
.content > input:first-child {
  flex: 5;
}

.header > span {
  text-align: center;
}

.moreSlots {
  display: flex;
  justify-content: flex-end;
}

.moreSlots > div {
  padding: 4px;
  margin: 4px;
  color: #555;
  text-decoration: underline;
  cursor: pointer;
}

.moreSlots > div:hover {
  color: #000;
}

.error {
  text-align: center;
  color: red;
  min-height: 30px;
  margin: 4px;
  white-space: pre-line;
}

.buttonContainer {
  text-align: center;
  margin-bottom: 12px;
}

@media (min-width: 600px) {
  .container {
    height: 70%;
    width: 70%;
    max-width: 800px;
  }

  .header > span,
  .content > input,
  .content > select {
    margin: 0 8px;
  }
}
