:root {
  --color-text-main: #61dafb;
  --color-background-main: #282c34;
  --color-background-secondary: #20232a;
  --color-background-hover: rgb(3, 1, 26);
  --color-background-yellow: #ffe564;
  --color-comment: rgb(244, 55, 105);
  --color--price: rgba(22, 232, 61, 0.844);
  --color-hover: rgb(83, 84, 84);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: initial;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--color-background-secondary);
}

main {
  min-height: calc(100vh - 162px);
  margin-top: 50px;
}

footer {
  background-color: var(--color-background-secondary);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='checkbox'] {
  height: 17px;
  width: 17px;
  background-color: #d0cdcd;
  box-shadow: 0 0 0px 1px #bab8b8;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  appearance: none;
}

input[type='checkbox']:checked::before {
  content: url('check-solid.svg');
  background-color: #dfdcdc;
  border-radius: 5px;
  font-size: 3px;
  display: block;
}

@media (min-width: 506px) {
  main {
    min-height: calc(100vh - 136px);
  }
}

@media (min-width: 700px) {
  main {
    min-height: calc(100vh - 100px);
  }
}
