.activityContainer {
  display: flex;
  padding: 16px;
  border: rgba(224, 228, 220, 0.427) solid 2px;
  justify-content: space-between;
  background: #f7f7f7;
  color: #010101;
  margin: 8px;
}

.activityContainer:hover {
  background-color: #FFF;
}

.activityContainer > div {
  flex: 2;
  padding-right: 8px;
}

.activityContainer > .deleteIcon {
  display: flex;
  justify-content: center;
  flex: 1;
}
